<% if notice %>
<br><p class="p1" style="color: green"><%= notice %></p>
<% end %>

<br>
<div class="div1" style="width:100%">
<h1>
  <%= link_to "Create a New Assignment", new_assignment_path %>
</h1>
<table class="table table-striped">
  <tr>
    <th>
      <strong>Name</strong>
    </th>
  </tr>
      <% AssignmentsController.instance_variable_get(:'@x').each do |assignment| %>
      <tr>
        <td>
          <%= assignment %>      
        </td>
      </tr>
      <% end %>
</table>
</div>