<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Contact | Radu Teodorescu</title>
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>

  <body style = "background-color: rgb(200, 210, 200);">
    <div class="top-nav">
      <a href="index.html">Home</a>
      <div class="dropdown">
          <a href="publications.html">Publications</a>
          <div class="dropdown-content">
              <a href="publications.html" class="dropbtn">Publications</a>
              <a href="conference-papers.html">Conference Papers</a>
              <a href="workshop-papers.html">Workshop Papers</a>
              <a href="theses.html">Theses</a>
              <a href="technical-reports.html">Technical Reports</a>
            </div>
      </div>
      <a href="presentations.html">Presentations</a>
      <div class="dropdown">
        <a href="research.html">Research</a>
        <div class="dropdown-content">
            <a class="dropbtn" href="research.html">Research</a>
            <a href="about-us.html">About Us</a>
            <a href="people.html">People</a>
        </div>
    </div>
      <div class="dropdown">
          <a href="tools.html">Tools</a>
          <div class="dropdown-content">
              <a class="dropbtn" href="tools.html">Tools</a>
              <a href="varius.html">VARIUS</a>
            </div>
      </div>
      <a class = "current" href="contact.html">Contact</a>
      <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
      <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
  </div>
    <br/>
    <h2 style="text-align: center;">Contact Me</h2>
    <br/><hr><br>
    <div>
      <h4 style="text-align: center;">Email:</h4>
      <p style="text-align: center;">teodores@cse.ohio-state.edu</p>
    </div>
    <br/>
    <div>
      <h4 style="text-align: center">Office:</h4>
      <p style="text-align: center;">
        797 Dreese Labs
        <br/>
        2015 Neil Ave.
        <br/>
        Columbus, OH, 43210
      </p>
    </div>
    <br><hr>
  </body>
</html>