<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home | Radu Teodorescu</title>
    <link rel="stylesheet" href="stylesheets/site.css" />

  </head>

  <body style = "background-color: rgb(200, 210, 200);">
    <div class="top-nav">
        <a class = "current" href="index.html">Home</a>
        <div class="dropdown">
            <a href="publications.html">Publications</a>
            <div class="dropdown-content">
                <a href="publications.html" class="dropbtn">Publications</a>
                <a href="conference-papers.html">Conference Papers</a>
                <a href="workshop-papers.html">Workshop Papers</a>
                <a href="theses.html">Theses</a>
                <a href="technical-reports.html">Technical Reports</a>
              </div>
        </div>
        <a href="presentations.html">Presentations</a>
        <div class="dropdown">
            <a href="research.html">Research</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="research.html">Research</a>
                <a href="about-us.html">About Us</a>
                <a href="people.html">People</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="tools.html">Tools</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="tools.html">Tools</a>
                <a href="varius.html">VARIUS</a>
              </div>
        </div>
        <a href="contact.html">Contact</a>
        <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
        <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
    </div>

    <br/>

    <div class="contents">
        <h1 style="margin-left: 40px;">Radu Teodorescu</h1>
        <h4 style="margin-left: 40px;">The Ohio State University</h4>
        <br><hr><br>
        <div style="float: left; padding: 15px">
            <img src="images/headshot.jpeg" style="display: block; border: 3px solid #666666; margin-left: 40px; margin-right: auto; "
            width = "auto" height = "250"/>
        </div>
        <div>
            <div style="padding-left: 10px; padding: 10px">
                <h3 style="margin-left: 40px;">About Me</h3>
                <p style="margin-left: 40px;">I am a Professor in the <a class="scarlet" href="https://www.cse.ohio-state.edu/">Department of Computer Science and Engineering</a>
                at <a class="scarlet" href="http://www.osu.edu">The Ohio State University</a>, currently teaching 
                <a class="scarlet" href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-6421.pdf">CSE 6421</a> and 
                <a class="scarlet" href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3421.pdf">CSE 3421</a>.
                </p>
                <br/>
                <p style="margin-left: 40px;">
                    I was born in Cluj-Napoca, in the beautiful province of Transilvania in Romania. 
                    I received an Engineer Diploma from the Technical University of Cluj-Napoca in 2002.
                </p> 
                <br/>
                <p>
                    I received my Ph.D. from the <a class="scarlet" href="http://www.cs.uiuc.edu">Department of Computer Science</a>, 
                    <a class="scarlet" href="http://www.uiuc.edu">University of Illinois at Urbana-Champaign</a> 
                    where I was a member of the <a class="scarlet" href="http://iacoma.cs.uiuc.edu">IACOMA</a> group working with Prof. Josep Torrellas. 
                    I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the 
                    <a class="scarlet" href="https://engineering.osu.edu/awards/content/lumley-research-award" target="self">Lumley Award</a> in 2014, 
                    an <a class="scarlet" href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&amp;HistoricalAwards=false" target="self">NSF CAREER award</a> 
                    award in 2012, <a class="scarlet" href="http://www.intel.com/content/www/us/en/education/university/intel-phd-fellowship-program.html" target="self">Intel Foundation Fellowship</a> 
                    for 2007-2008 and the <a class="scarlet" href="http://cs.illinois.edu/csillinois/awards#2007-2008" target="self">W. J. Poppelbaum Award</a> for 2008.
                    We were proud to help organize <a class="scarlet" href="https://www.microarch.org/micro52/"> MICRO-52 in Columbus, Ohio</a> in October 2019.
                </p>
                <br>

                <div style="padding-top: 20px;">
                    <h3 style="margin-left: 40px;">Personal Statement</h3>
                    <p style="margin-left: 40px;">I lead the <a class="scarlet" href="research.html">Architecture Research Lab</a>.
                    I am looking for bright and motivated students to join my research group.
                    </p>
                    <br/>
                    <p style="margin-left: 40px;">Our research interests include:
                    </p>
                    <ul style="margin-left: 40px;">
                        <li>Computer Architecture</li>
                        <li>Energy Efficient Computing</li>
                        <li>Security</li>
                        <li>Reliability</li>
                    </ul>
                </div>
                <br/>
                <p style="margin-left: 40px;">In order to view all my publications, <a class="scarlet" href="publications.html">click here</a>.
                </p>
                <br/>
                <p style="margin-left: 40px;">For more details and research updates, please visit my group's <a class="scarlet" href="http://arch.cse.ohio-state.edu/">website</a>. 
                    If you are interested in working with us, send me an email or drop by <a class="scarlet" href="contact.html">my office</a>
                </p>
                <br><hr><br>
            </div>            
        </div>
    </div>
        
  </body>
</html>
