<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Theses | Radu Teodorescu</title>
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>

    <body style = "background-color: rgb(200, 210, 200);">
      <div class="top-nav">
        <a href="index.html">Home</a>
        <div class="dropdown">
          <a class = "current" href="publications.html">Publications</a>
          <div class="dropdown-content">
            <a href="publications.html" class="dropbtn">Publications</a>
            <a href="conference-papers.html">Conference Papers</a>
            <a href="workshop-papers.html">Workshop Papers</a>
            <a href="theses.html">Theses</a>
            <a href="technical-reports.html">Technical Reports</a>
          </div>
        </div>
        <a href="presentations.html">Presentations</a>
        <div class="dropdown">
          <a href="tools.html">Research</a>
          <div class="dropdown-content">
              <a class="dropbtn" href="research.html">Research</a>
              <a href="about-us.html">About Us</a>
              <a href="people.html">People</a>
          </div>
      </div>
        <div class="dropdown">
          <a href="tools.html">Tools</a>
          <div class="dropdown-content">
            <a class="dropbtn" href="tools.html">Tools</a>
            <a href="varius.html">VARIUS</a>
          </div>
        </div>
        <a href="contact.html">Contact</a>
        <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
        <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
      </div>

      <br/>
      <div style="padding-left: 10px">
        <h3>Ph.D. Thesis</h3>
        <p>
            Multilayer Techniques to Address Parameter Variation, University of Illinois at Urbana-Champaign, October 2008. Josep Torrellas, advisor.
        </p>

        <br/>

        <h3>Master's Thesis</h3>
        <p>
            <a href="https://web.cse.ohio-state.edu/~teodorescu.1/download/papers/teodorescu-MS-thesis.pdf">
                Prototyping Architectural Support for Program Rollback Using Programmable Logic, University of Illinois at Urbana-Champaign, May 2005. Josep Torrellas, advisor.
            </a>
            <br/>
            <span style="font-size: 75%; color: #bb0000;">*Winner of the David J. Kuck Outstanding Thesis Award*</span>
        </p>

        <br/>

        <h3>Engineer Diploma Thesis</h3>
        <p>
            DICOM Compliant Structured Reports - Encoding and Communication, Technical University of Cluj-Napoca, June 2002. Sergiu Nedevschi, advisor.
        </p>

      </div>

    </body>
</html>