<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>VARIUS | Radu Teodorescu</title>
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>

  <body style = "background-color: rgb(200, 210, 200);">
    <div class="top-nav">
      <a href="index.html">Home</a>
      <div class="dropdown">
          <a href="publications.html">Publications</a>
          <div class="dropdown-content">
              <a href="publications.html" class="dropbtn">Publications</a>
              <a href="conference-papers.html">Conference Papers</a>
              <a href="workshop-papers.html">Workshop Papers</a>
              <a href="theses.html">Theses</a>
              <a href="technical-reports.html">Technical Reports</a>
            </div>
      </div>
      <a href="presentations.html">Presentations</a>
      <div class="dropdown">
        <a href="research.html">Research</a>
        <div class="dropdown-content">
            <a class="dropbtn" href="research.html">Research</a>
            <a href="about-us.html">About Us</a>
            <a href="people.html">People</a>
        </div>
    </div>
      <div class="dropdown">
          <a class = "current" href="tools.html">Tools</a>
          <div class="dropdown-content">
              <a class="dropbtn" href="tools.html">Tools</a>
              <a href="varius.html">VARIUS</a>
          </div>
      </div>
      <a href="contact.html">Contact</a>
      <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
      <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
    </div>
    <br/>
    <h1 style = "padding-left: 10px; margin-left: 40px;">VARIUS - Process Variation Model</h1>
    <br/><hr><br>
    <p style = "padding-left: 10px; margin-left: 40px;">
        Parameter variation poses a major challenge to high-performance microprocessor design, 
        negatively impacting a processor’s frequency and leakage power. To study the impact of 
        variation, as well as stimulate the development of microarchitectural solutions to reduce 
        its impact, we developed a microarchitecture-level model for process variation.
        <br/><br/>
        The current version of the model is 
        <a class="scarlet" href="http://www.cse.ohio-state.edu/~teodores/download/tools/varius-v0.1.tar.gz" target="self">VARIUS-v0.1</a>.
        <br/><br/>
        For more details please see the following papers:
        <br/>
        <ul style="margin-left: 40px;">
            <li>Smruti R. Sarangi, Brian Greskamp, Radu Teodorescu, Jun Nakano, Abhishek Tiwari and Josep Torrellas, 
            VARIUS: A Model of Parameter Variation and Resulting Timing Errors for Microarchitects, IEEE Transactions
            on Semiconductor Manufacturing (IEEE TSM), February 2008 
            [<a class="scarlet" href="http://www.cse.ohio-state.edu/~teodores/download/papers/varius-tsm.pdf" target="self">pdf</a>]</li>
            <li>Radu Teodorescu, Brian Greskamp, Jun Nakano, Smruti R. Sarangi, Abhishek Tiwari and Josep Torrellas, 
            VARIUS: A Model of Parameter Variation and Resulting Timing Errors for Microarchitects, Workshop on 
            Architectural Support for Gigascale Integration (ASGI), in conjunction with ISCA, June 2007 
            [<a class="scarlet" href="http://www.cse.ohio-state.edu/~teodores/download/papers/teodorescu-varius.pdf" target="self">pdf</a>]</li>
        </ul>
        <br/>
        <p style = "padding-left: 10px; margin-left: 40px;">Some papers where the model is used:</p>
        <ul style="margin-left: 40px;">
            <li>Radu Teodorescu and Josep Torrellas, Variation-Aware Application Scheduling and Power Management for 
            Chip Multiprocessors, 35th International Symposium on Computer Architecture (ISCA), June 2008 
            [<a class="scarlet" href="http://www.cse.ohio-state.edu/~teodores/download/papers/teodorescu-ISCA08.pdf" target="self">pdf</a>]</li>
            <li>Radu Teodorescu, Jun Nakano, Abhishek Tiwari and Josep Torrellas, Mitigating Parameter Variation with 
            Dynamic Fine-Grain Body Biasing, 40th International Symposium on Microarchitecture (MICRO), December 2007
            [<a class="scarlet" href="http://www.cse.ohio-state.edu/~teodores/download/papers/dfgbb-micro07.pdf" target="self">pdf</a>]</li>
            <li>Abhishek Tiwari, Smruti Sarangi, Josep Torrellas, ReCycle: Pipeline Adaptation to Tolerate Parameter Variation, 
            34th Annual International Symposium on Computer Architecture (ISCA), June 2007 
            [<a class="scarlet" href="http://iacoma.cs.uiuc.edu/iacoma-papers/isca07_recycle.pdf" target="self">pdf</a>]</li>
        </ul>
    </p>
    <br/><hr>
  </body>
</html>