<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>People | Architecture Research Lab</title>
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>

  <body style = "background-color: rgb(200, 210, 200);">
    <div class="top-nav">
        <a href="index.html">Home</a>
        <div class="dropdown">
            <a href="publications.html">Publications</a>
            <div class="dropdown-content">
                <a href="publications.html" class="dropbtn">Publications</a>
                <a href="conference-papers.html">Conference Papers</a>
                <a href="workshop-papers.html">Workshop Papers</a>
                <a href="theses.html">Theses</a>
                <a href="technical-reports.html">Technical Reports</a>
              </div>
        </div>
        <a href="presentations.html">Presentations</a>
        <div class="dropdown">
            <a class="current" href="research.html">Research</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="research.html">Research</a>
                <a href="about-us.html">About Us</a>
                <a href="people.html">People</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="tools.html">Tools</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="tools.html">Tools</a>
                <a href="varius.html">VARIUS</a>
              </div>
        </div>
        <a href="contact.html">Contact</a>
        <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
        <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
    </div>
    <br/>
    <div class="contents">
        <h1 style="margin-left: 15px;">Computer Architecture Research Lab</h1>
        <h4 style="margin-left: 15px;">Computer Science and Engineering - The Ohio State University</h4>
        <br><hr><br>
        <div style="padding: 15px">
            <img src="images/people_arch.jpg" style="display: block; border: 3px solid #666666; margin-left: auto; margin-right: auto;"/>
        </div>
        <div style="padding: 10px; padding-left: 20px; text-align: center;">
            <h3>Faculty</h3>
            <p style="font: size 22px;"><a href="index.html">Radu Teodorescu</a>, Professor</p>
            <br/>
            <h3>Students</h3>
            <p style="font: size 22px;">
                <a href="http://web.cse.ohio-state.edu/~barberk">Kristin Barber</a>, PhD Student <br/>
                <a href="http://web.cse.ohio-state.edu/~samavati">Mohammad Hossein Samavatian</a>, PhD Student <br/>
                Saikat Majumdar, PhD Student <br/>
                Moein Ghaniyoun, PhD Student
            </p>
            <br/><br/>
            <h3>Group Alumni</h3>
            <br/>
            <h4>PhD</h4>
            <p style="font: size 22px;">
                <a href="http://web.cse.ohio-state.edu/~zholi/">Li Zhou</a>, PhD 2019, Engineer, Twitter <br/>
                <a href="https://xiangpan-osu.github.io/">Xiang Pan</a>, PhD 2017, Senior Engineer, Qualcomm <br/>
                <a href="https://anysbacha.github.io">Anys Bacha</a>, PhD 2016, Assistant Professor, University of Michigan-Dearborn <br/>
                Renji Thomas, PhD 2015, Power and Performance Engineer, Intel <br/>
                <a href="https://sites.google.com/site/nsedaghati/">Naser Sedaghati</a>, PhD 2015, Research Engineer, Imagination Technologies <br/>
                <a href="http://www.cs.binghamton.edu/~millerti/">Timothy Miller</a>, PhD 2012, Assistant Professor, SUNY Binghamton 
            </p>
            <br/>
            <h4>MS, BS</h4>
            <p style="font: size 22px;"></p>
                Indresh Sira Gururajaprasad, MS 2017 <br/>
                Spencer Rudolph, MS 2016 <br/>
                Razvan Lupusoru, MS 2011, Engineer, Intel Corp. <br/>
                Anushree Dwivedi, BS 2010 <br/>
                Wonjeon Kim, MS 2010 <br/>
                Nagarjuna Surapaneni, MS 2010
            </p>
        </div>
        <br><hr><br>
  </body>
</html>