<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Presentations | Radu Teodorescu</title>
    <link rel="stylesheet" href="stylesheets/site.css" />
  </head>

    <body style = "background-color: rgb(200, 210, 200);">
      <div class="top-nav">
        <a href="index.html">Home</a>
        <div class="dropdown">
          <a href="publications.html">Publications</a>
          <div class="dropdown-content">
            <a href="publications.html" class="dropbtn">Publications</a>
            <a href="conference-papers.html">Conference Papers</a>
            <a href="workshop-papers.html">Workshop Papers</a>
            <a href="theses.html">Theses</a>
            <a href="technical-reports.html">Technical Reports</a>
          </div>
        </div>
        <a class = "current" href="presentations.html">Presentations</a>
        <div class="dropdown">
          <a href="research.html">Research</a>
          <div class="dropdown-content">
              <a class="dropbtn" href="research.html">Research</a>
              <a href="about-us.html">About Us</a>
              <a href="people.html">People</a>
          </div>
      </div>
        <div class="dropdown">
          <a href="tools.html">Tools</a>
          <div class="dropdown-content">
            <a class="dropbtn" href="tools.html">Tools</a>
            <a href="varius.html">VARIUS</a>
          </div>
        </div>
        <a href="contact.html">Contact</a>
        <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
        <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
      </div>

      <br/>
      <h3 style = "text-align: center"><b>Presentations and Demos</b></h3>
      <br><hr><br>
      <p class="contents" style = "padding-left: 10px">
        <b><i>April 2010</i> - Architectures for Energy Efficient Computing at Ultra-low Voltages</b>
        <br/>
        CALCM Seminar at Carnegie Mellon University
        <br/><br/>
        <b><i>2008</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/job-talk-teodorescu.pdf">
                            Helping Moore’s Law: Architectural Techniques to Address Parameter Variation</a></b>
        <br/>
        My job talk, given at George Washington University ECE, Drexel University ECE, Texas A&M ECE, University of Arizona CS, Ohio State CSE and Microsoft Research.
        <br/><br/>
        <b><i>June 2008</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/radu-isca08-slides.pdf">
          Variation-Aware Application Scheduling and Power Management for Chip Multiprocessors</a></b>
        <br/>
       35th International Symposium on Computer Architecture (ISCA)
        <br/><br/>
        <b><i>December 2007</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/radu-micro-slides.pdf">
          Mitigating Parameter Variation with Dynamic Fine-Grain Body Bias</a></b>
        <br/>
        International Symposium on Micro-architecture in Chicago
        <br/><br/>
        <b><i>October 2007</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/dfgbb-intel-forum.pdf">
          Mitigating Parameter Variation with Dynamic Fine-Grain Body Bias</a></b>
        <br/>
        Intel PhD Fellowship Forum in Hillsboro, Oregon
        <br/><br/>
        <b><i>June 2005</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-BUGS05.pdf">
          Empowering Software Debugging Through Architectural Support for Program Rollback</a></b>
        <br/>
        Workshop presentation and demo at the workshop on the Evaluation of Software Defect Detection Tools, in conjunction with PLDI 2005
        <br/><br/>
        <b><i>June 2005</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-WCED05.pdf">
          The Design Complexity of Program Undo Support in a General-Purpose Processor</a></b>
        <br/>
        Workshop presentation at the workshop on Complexity-Effective Design, in conjunction with ISCA 2005 in Madison, Wisconsin
        <br/><br/>
        <b><i>April 2005</i> - Prototyping Architectural Support for Program Rollback Using FPGAs</b>
        <br/>
        Demo at the Illinois Department of Computer Science Affiliates Conference (IDCSA) in Urbana, Illinois
        <br/><br/>
        <b><i>April 2005</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-FCCM05.pdf">
          Prototyping Architectural Support for Program Rollback Using FPGAs</a></b>
        <br/>
        Conference presentation at the IEEE Symposium on Field-Programmable Custom Computing Machines in Napa, California
        <br/><br/>
        <b><i>February 2005</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-slides-WARFP05.pdf">
          Prototyping Architectural Support for Program Rollback: An Application to Software Debugging</a></b>
        <br/>
        Workshop presentation at the workshop on Architecture Research Using FPGA Platforms, in conjunction with HPCA-11 in San Francisco, California
        <br/><br/>
        <b><i>May 2004</i> - <a class="scarlet" href="https://web.cse.ohio-state.edu/~teodorescu.1/download/slides/teodorescu-poster.pdf">
          Building a Hardware Prototype for Thread Level Speculation using Programmable Logic</a></b>
        <br/>
        Poster and demo at the Siebel Center Open House in Urbana, Illinois
        <br/><br/>
        <b><i>May 2002</i> - <u>Integrated Medical Imaging Environment</u></b>
        <br/>
        Conference presentation at the IEEE-TTTC International Conference on Automation, Quality and Testing in Cluj-Napoca, Romania
        <br>
      </p>
      <br><hr>
    </body>
</html>