<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Architecture Research Lab</title>
    <link rel="stylesheet" href="stylesheets/site.css" />

  </head>

  <body style = "background-color: rgb(200, 210, 200);">
    <div class="top-nav">
        <a href="index.html">Home</a>
        <div class="dropdown">
            <a href="publications.html">Publications</a>
            <div class="dropdown-content">
                <a href="publications.html" class="dropbtn">Publications</a>
                <a href="conference-papers.html">Conference Papers</a>
                <a href="workshop-papers.html">Workshop Papers</a>
                <a href="theses.html">Theses</a>
                <a href="technical-reports.html">Technical Reports</a>
              </div>
        </div>
        <a href="presentations.html">Presentations</a>
        <div class="dropdown">
            <a class="current" href="research.html">Research</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="research.html">Research</a>
                <a href="about-us.html">About Us</a>
                <a href="people.html">People</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="tools.html">Tools</a>
            <div class="dropdown-content">
                <a class="dropbtn" href="tools.html">Tools</a>
                <a href="varius.html">VARIUS</a>
              </div>
        </div>
        <a href="contact.html">Contact</a>
        <img src="images/logo.png" style="float:right; padding-top:2px; padding-right: 10px;" width="auto" height="40"/>
        <img src="images/logo2.png" style="float:right; padding-top:9px; padding-right: 10px;" width="auto" height="25"/>
    </div>

    <br/>

    <div class="contents">
        <h1 style="margin-left: 40px;">Computer Architecture Research Lab</h1>
        <h4 style="margin-left: 40px;">Computer Science and Engineering - The Ohio State University</h4>
        <br><hr><br>
        <div style="float: center; padding: 15px">
            <img src="images/thompson_header.jpg" style="display: block; border: 3px solid #666666"
            width = "800" height = "auto" class="center"/>
        </div>
        <div>
            <div style="padding-left: 10px; padding: 10px">
                <p style="font: size 22px; margin-left: 60px;"> Advances in microprocessor technology have been important engines for growth in the computing industry for decades. 
                    This continued growth is now challenged by significant roadblocks that include increasingly unreliable technology, 
                    strict limits on power consumption and the difficulties in developing reliable parallel software for chip multiprocessors. 
                    We focus on designing architectures that address these challenges on multiple fronts.
                </p>
                <br><br>
                <h3 style="margin-left: 60px;">Variation-Aware Microprocessor Design</h3>
                <br>
                <p style="font: size 18px; margin-left: 70px;">Manufacturing process challenges have caused variation in transistor characteristics such as switching speed and power consumption. 
                    Process variation together with temperature and voltage variations (generally referred to as parameter variations) are having an 
                    increasingly detrimental effect on current and future generations of microprocessors, resulting in lower chip frequency, higher power 
                    consumption and decreased reliability.
                </p>
                <br>
                <p style="font: size 18px; margin-left: 70px;">
                    We investigate architectures that incorporate variation-awareness in the design process as well as in runtime adaptation and optimization 
                    solutions designed to achieve better reliability and energy efficiency in increasingly unpredictable systems.
                </p> 
                <br><br>
                <h3 style="margin-left: 60px;">Ultra-low Power Multicore Architectures</h3>
                <br>
                <p style="font: size 18px; margin-left: 70px;">Power management in chip multiprocessors continues to be one of the primary concerns for chip designers. With 
                    future multicores expected to have dozens or even hundreds of cores on a single die power demands will far exceed what is safe to deliver 
                    to the chip and practical to dissipate with standard cooling methods. Drastic solutions are needed to ensure future microprocessors will 
                    not hit a power wall that will prevent them from taking full advantage of technology scaling.
                </p>
                <br>
                <p style="font: size 18px; margin-left: 70px;">Our lab is developing solutions for enabling ultra-low voltage operation of multicore chips in an effort to dramatically 
                    improve energy efficiency of computation.
                </p>
                <br><br>
                <h3 style="margin-left: 60px;">Architectural Solutions for Software Reliability</h3>
                <br>
                <p style="font: size 18px; margin-left: 70px;">Software is growing in complexity and becoming increasingly prone to design and implementation errors. Given the current 
                    wide-spread adoption of chip multiprocessors, this problem is only getting worse. Parallel applications are especially hard to write and debug, 
                    being prone to nondeterministic synchronization bugs such as data races.
                </p>
                <br>
                <p style="font: size 18px; margin-left: 70px;">In this project we investigate architectural solutions for making the software more robust by providing software-controlled 
                    hardware primitives that enable efficient runtime monitoring and debugging solutions.
                </p>
                <br><br><hr>

            </div>
            <br/>
            
        </div>
    </div>
        
  </body>
</html>
