/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #9a9ce0;
    text-align: center;
 }

 .div1{
   background-color:#c1c2e2;
   margin: auto;
   padding: 20px;
   width: 40%;
   border-radius: 25px;
 }

 .p1{
   background-color:#94c5a8;
   margin: auto;
   padding: 20px;
   width: 40%;
   border-radius: 5px;
 }

 .p2{
   background-color:#d8a092;
   margin: auto;
   padding: 20px;
   width: 40%;
   border-radius: 5px;
 }

 .field{
    padding: 5px;
 }

 .navbar-custom {
   background-color: #c1c2e2;
   color: black;
}

a {
  text-decoration: none;
  color: rgb(48, 95, 165);
}